.button {
  padding: 14px 48px;
  position: absolute;
  right: 7.8%;
  top: 8%;

  background: #1e86ff;

  border: none;
  border-radius: 4px;

  cursor: pointer;

  line-height: 19px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
}

.button:hover {
  opacity: 80%;
}
